body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.centered-div {
    margin: auto;
    max-width: fit-content; /* Adjust as needed, or set a fixed width */
}

.text-base{
    color: #C72C41;
    font-size: 1.25rem !important;
    /* margin: 0 !important; */
}

.text-before{
    color: rgba(51,51,51);
    font-size: 1.25rem !important;
}

.rounded-full{
    background-color: #C72C41;
}

.before{
    background-color: #fff;
    color: #333;
    border-color: #333 !important;
}

.transparent{
    background-color: rgba(199, 44, 65, 0.1);
    color: #C72C41;
    border-color: #C72C41 !important;
}

.containerss {
    max-width: 1000px;
    margin: auto;
    margin-top: 2rem;
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    font-size: 2rem;
}

.form-group {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 0;
}

.form-group label {
    width: 150px; 
    text-align: left;
}

label {
    flex: 1;
}

span {
    flex: 2;
    text-align: left;
    color: #555;
}

/* a .status{
    flex: 1;
} */

span .status{
    width: 300px !important;
}

.form-group input[type="file"] {
    padding: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group select {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffff;
}

.form-group:last-child {
    border-bottom: none;
}


.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* button {
    margin-top: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
} */

.status {
    display: inline-flex; /* Change display to inline-flex for centering */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    margin-top: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.status.waiting {
    background: linear-gradient(180deg, #ed4855, #d73930);
}

.status.in-review {
    background: linear-gradient(180deg,  #f39f33, #f18700);
}

.status.reviewed {
    background: linear-gradient(180deg, #01b464, #01924f);
}

.status.blue {
    background: linear-gradient(180deg, #0097da, #006f9e);
    margin-top: 0 !important;
}

input[type="text"],
input[type="url"],
input[type="file"] {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffff;
}