body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

h3{
    font-weight: 600;
}

h4{
    font-weight: 600;
    margin-bottom: 15px;
}

.pb-4{
    text-decoration: none;
    padding: .5rem 1rem !important;
}

.nav-tabs {
    list-style: none;
    padding: 0;
    display: flex;
    border-color: rgba(51, 51, 51, 0.25);
}


.label-tab {
    text-decoration: none;
    font-size: 1rem; /* Adjust font size as needed */
    color: #333; /* Default color for inactive tabs */
    position: relative;
    cursor: pointer;
}

.label-tab.tab-active {
    color: #c72c41 !important;
    font-weight: 600;
    position: relative;
    border-bottom: 4px solid #c72c41;
}

.label-tab.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px; 
    background-color: #c72c41; 
    position: absolute;
    /* bottom: -5px;  */
    /* left: 0; */
}

.tab-content {
    display: none;
    flex-wrap: wrap;
}

.tab-content[data-tab="ongoing"] {
    display: flex; /* Show 'ongoing' tab content by default */
}

.label-tab.tab-inactive {
    color: #333 !important; /* Color for inactive tabs */
}


.nav-tabs .nav-item {
    margin-bottom: -1   px;
}

.cards-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    flex: 0 1 calc(33% - 20px);
    max-width: calc(33% - 20px);
    background-color:  #ffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    transition: transform 0.3s;
    justify-content: space-between;
}

.card-footer {
    /* margin-top: auto; */
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: left; 
}

.card p {
    line-height: 1.6; /* Adjust this value as needed */
    margin-bottom: 10px; /* Optional: reduce space between paragraphs */
}

.progress-bar {
    background: #ddd;
    border-radius: 5px;
    height: 10px;
    margin: 10px 0;
}

.progress {
    background: #c72c41;
    height: 100%;
    border-radius: 5px;
}

.view-more {
    display: inline-block;
    margin-top: 10px;
    color: #0097da;
    text-decoration: none;
}

.view-moree{
    text-align: right !important;
}

.view-more:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}