body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    /* padding: 20px; */
    /* line-height: 1.6; */
    /* font-weight: 400; */
}


h3{
    font-weight: 600;
}


h4{
    font-weight: 600;
    margin-bottom: 15px;
}


.dashboard {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.sidebar a.active {
    background-color: #70161f;
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 10px;
    border-radius: 8px;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    flex: 0 1 calc(33% - 20px);
    background-color:  #ffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    transition: transform 0.3s;
}

.card-dalam {
    justify-content: flex-start;
    flex: 0 1 calc(33% - 20px);
    background-color: #ffff;
    border-radius: 8px;
    box-sizing: border-box;
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.card-bawah{
    justify-content: center;
    flex: 0 1 calc(33% - 20px);
    background-color: #ffff;
    border-radius: 8px;
    box-sizing: border-box;
    transition: transform 0.3s;
    background-color: #ed4855;
    padding: -30px;
    margin: -20px;
}

.card-bawah button{
    width: 92.5%;;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 0;
}

.card-bawah p{
    color: #f5f5f5 !important;
    margin-left: 20px;
    margin-bottom: 5px !important;
}

.card-bawah b{
    color: #f5f5f5 !important;
}

.card-bawah p:first-child{
    margin-top: 20px;
}

.card-bawah p:last-child{
    margin-bottom: 20px;
}

.card p {
    line-height: 1.6; /* Adjust this value as needed */
    margin-bottom: 10px; /* Optional: reduce space between paragraphs */
}

.card hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card b{
    color: #444444;
}

.card-footer {
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: left; 
}


.card p {
    line-height: 1.6; /* Adjust this value as needed */
    margin-bottom: 10px; /* Optional: reduce space between paragraphs */
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.card:hover {
    transform: translateY(-5px);
}


.status {
    display: inline-flex; /* Change display to inline-flex for centering */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    margin-top: 5px !important;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
    width: 100%;
}

.status.waiting {
    background: linear-gradient(180deg, #ed4855, #d73930);
}

.status.in-review {
    background: linear-gradient(180deg,  #f39f33, #f18700);
}

.status.reviewed {
    background: linear-gradient(180deg, #01b464, #01924f);
}

.status.blue {
    background: linear-gradient(180deg, #0097da, #006f9e);
    margin-top: 0 !important;
}


@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}


@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
    }
}
